//Variables css del proyecto
$max-tablet: 960px;
$max-mobile: 768px;
$transition-slowest: 1s;
$primary-color: #141214;
$inverse-color: #fff;
$nav-height: 64px;
$transition-fastest: 0.1s;
$transition-fast: 0.3s;
$transition-medium: 0.5s;
$transition-slow: 1s;