.footer {
    background-color: #000;
}

.footer .footer-item {
    display: inline-block;
}

.footer .footer-item a {
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
}

.footer .footer-copyright {
    text-align: right;
}

.footer .footer-copyright mark {
    color: #fff;
    background: transparent;
}

.footer .footer-copyright time {
    margin-right: 15px;
    color: white;
}
