form {
    font-size: 1.2em;
}

.form-input {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-input input,
.form-input textarea {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin: 0 -15px;
}

.form-input input[type="radio"] {
    margin: 0;
}

.form-input input:focus,
.form-input textarea:focus,
.form-input input:invalid:focus,
.form-input textarea:invalid:focus {
    outline: none;
    border-color: #aaa;
}

.form-input input:invalid,
.form-input textarea:invalid {
    border-color: #a00;
}

.form-input input:valid,
.form-input textarea:valid {
    border-color: #0a0;
}

button[type="submit"] {
    border-radius: 3px;
    padding: 15px;
    background-color: #000;
    color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    will-change: border-color, transform;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    border: 2px solid #ccc;
    transform: scale(1.1);
}

button[type="submit"]:active {
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
    transform: scale(0.9);
}
