.nav {
    background-color: black;
    font-size: 1.1em;
    position: fixed;
    width: 100%;
    top: 0;
    height: 64px;
    z-index: 2;
}

.nav .nav-item {
    list-style: none;
    display: inline-block;
    height: 64px;
    margin: 0;
}

.nav .nav-item > a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: inline-block;
    padding: 0 15px;
    line-height: 70px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    will-change: background-color, color;
}

.nav .nav-item.nav-item--active > a,
.nav .nav-item > a:hover {
    background-color: white;
    color: black;
}

.nav > .nav-logo {
    display: inline-block;
    float: left;
    position: relative;
    left: 15px;
    top: 20px;
}

.nav > .nav-items {
    display: inline-block;
    width: 80%;
    text-align: right;
    padding: 0;
    margin: 0;
    float: right;
}

.nav > .nav-logo > img {
    height: 30px;
    width: auto;
}
